/node_modules
/public/hot
/public/storage
/public/uploaded_images
/public/uploaded_videos
/public/frontend/images
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
package-lock.json
.idea
.idea/*
